{% load static i18n %}

<link rel="stylesheet" href="{% static 'main/css/footer.css' %}" media="screen" />

<a class="footer__up">
    <svg  class="next" width="24" height="42" viewBox="0 0 24 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.6777 3L3 20.6777" stroke="#202020" stroke-width="5" stroke-linecap="round"/>
        <path d="M20.6777 38.6777L3 21" stroke="#202020" stroke-width="5" stroke-linecap="round"/>
    </svg>        
    <script>
        // window.scrollTo({ top: document.querySelector("page").offsetTop })
        document.querySelector(".footer__up").addEventListener("click", () => {
            const targetSection = document.querySelector(".page");
            const targetSectionOffsetTop = targetSection.offsetTop;

            window.scrollTo({
            top: targetSectionOffsetTop,
            behavior: 'smooth',
            });
        })
    </script>
</a>

<footer class="footer">
    <div class="footer__left">
        <a href="/news">{% trans 'Новости' %}</a>
        <a href="/students/schedule">{% trans 'Студенту' %}</a>
        <a  href="/abiturients">{% trans 'Абитуриенту' %}</a>
        <a href="/teachers/schedule">{% trans 'Преподавателю' %}</a>
    </div>
    {% if social_media_links %}
        <div class="footer__right">
            {% if social_media_links.facebook %}
                <a href="{{  social_media_links.facebook }}" target="_blank" class="facebook">
                    <?xml version="1.0"?><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">    <path d="M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z"/></svg>
                </a>
            {% endif %}
            {% if social_media_links.instagram %}
                <a href="{{  social_media_links.instagram }}" target="_blank" class="facebook">
                    <?xml version="1.0"?><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">    <path d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"/></svg>
                </a>
            {% endif %}
            {% if social_media_links.youtube %}
                <a href="{{  social_media_links.youtube }}" target="_blank" class="">
                    <?xml version="1.0"?><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="48px" height="48px">    <path d="M21.582,6.186c-0.23-0.86-0.908-1.538-1.768-1.768C18.254,4,12,4,12,4S5.746,4,4.186,4.418 c-0.86,0.23-1.538,0.908-1.768,1.768C2,7.746,2,12,2,12s0,4.254,0.418,5.814c0.23,0.86,0.908,1.538,1.768,1.768 C5.746,20,12,20,12,20s6.254,0,7.814-0.418c0.861-0.23,1.538-0.908,1.768-1.768C22,16.254,22,12,22,12S22,7.746,21.582,6.186z M10,14.598V9.402c0-0.385,0.417-0.625,0.75-0.433l4.5,2.598c0.333,0.192,0.333,0.674,0,0.866l-4.5,2.598 C10.417,15.224,10,14.983,10,14.598z"/></svg>
                </a>
            {% endif %}
            {% if social_media_links.telegram %}
                <a href="{{  social_media_links.telegram }}" target="_blank" class="">
                   Tg                 
                </a>
            {% endif %}
            {% if social_media_links.tiktok %}
                <a href="{{  social_media_links.tiktok }}" target="_blank" class="">
                    Tk
                </a>
            {% endif %}
            {% if social_media_links.other_medias.count > 0 %}
                {% for link in social_media_links.other_medias.all %}
                    
                    {% if link.public %}
                        <a href="{{ link.link }}" target="_blank">
                            {% if link.icon_link %}
                                {{ link.icon_link }}
                            {% elif  link.icon_file %}
                                <img src="/static/media/{{ link.icon_file }}" alt="{{ link.title }}">
                            {% else %}
                                {{ link.title }}
                            {% endif %}
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
</footer>
