{% load static i18n %}

<nav>
    <div class="nav__left">
        <a href="/"><img src="/static/main/img/logo/logo.png" alt=""></a>
    </div>
    
    {% comment %} <span class="material-symbols-outlined nav__menu">
        sort
    </span> {% endcomment %}

    <svg class="nav__menu" width="40" height="40" viewBox="0 0 111 96" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 10L105 10" stroke="rgb(20,20,20,.7)" stroke-width="12" stroke-linecap="round"/>
        <path d="M5 45L105 45" stroke="rgb(20,20,20,.7)" stroke-width="12" stroke-linecap="round"/>
        <path d="M5 80L105 80" stroke="rgb(20,20,20,.7)" stroke-width="12" stroke-linecap="round"/>
    </svg> 

    <div class="nav__right" style="left: -100%;">
        <div class="nav__link nav__right__close" id="nav_close">
            <b class="">{% trans 'Назад' %}</b>
            <svg class="nav__right__close__svg" width="15" height="20" viewBox="0 0 57 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 5L51.9627 43.5673" stroke="#fff" stroke-width="12" stroke-linecap="round"/>
                <path d="M5.67862 82.5039L51.6413 43.9367" stroke="#fff" stroke-width="12" stroke-linecap="round"/>
            </svg>
        </div>
        <a href="{% url 'news_list' %}" class='nav__link'>{% trans 'Новости' %}</a>
        <div class="nav__right__button__menu nav__link" >
            <a class="nav__right__menu__open">{% trans 'О колледже' %}</a>
            <div class="nav__right__menu">

                <div class="nav__link nav__right__close nav__right__menu__close">
                    <b class="">{% trans 'Назад' %}</b>
                    <svg class="nav__right__close__svg" width="15" height="20" viewBox="0 0 57 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 5L51.9627 43.5673" stroke="#fff" stroke-width="12" stroke-linecap="round"/>
                        <path d="M5.67862 82.5039L51.6413 43.9367" stroke="#fff" stroke-width="12" stroke-linecap="round"/>
                    </svg>
                </div>
                
                <a href="{% url 'college-history' %}">{% trans 'История колледжа' %}</a>
                <a href="{% url 'documents' %}">{% trans 'Документы' %}</a>
                <a href="{% url 'staff:staff'  %}">{% trans 'Структура' %}</a>
                <a href="/specs">{% trans 'Специальности' %}</a>
                <a href="/gallery">{% trans 'Галерея' %}</a>
                <a href="/board-of-trustees">{% trans 'Попечительский совет' %}</a>
                <a href="/pedagogical-council">{% trans 'Педагогический совет' %}</a>
                <a href="/industrial-council">{% trans 'Индустриальный совет' %}</a>
            </div>
        </div>
        <div class="nav__right__button__menu nav__link" >
            <a class="nav__right__menu__open">{% trans 'Информация' %}</a>
            <div class="nav__right__menu">
                <div class="nav__link nav__right__close nav__right__menu__close">
                    <b class="">{% trans 'Назад' %}</b>
                    <svg class="nav__right__close__svg" width="15" height="20" viewBox="0 0 57 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 5L51.9627 43.5673" stroke="#fff" stroke-width="12" stroke-linecap="round"/>
                        <path d="M5.67862 82.5039L51.6413 43.9367" stroke="#fff" stroke-width="12" stroke-linecap="round"/>
                    </svg>
                </div>
                <a href="{% url 'call_pair_schedule' %}">{% trans 'Студенту' %}</a>
                <a href="{% url 'abiturients' %}">{% trans 'Абитуриенту' %}</a>
                <a href="{% url 'call_pair_schedule_teachers' %}">{% trans 'Преподавателю' %}</a>
                <a href="/dormitory">{% trans 'Общежитие' %}</a>
                <a href="/library">{% trans 'Библиотека' %}</a>
                <a href="/financial-statements">{% trans 'Финансовая отчетность' %}</a>
            </div>
        </div>
        <div class="nav__right__button__menu nav__link" >
            <a class="nav__right__menu__open">{% trans 'Государство' %}</a>
            <div class="nav__right__menu">
                <div class="nav__link nav__right__close nav__right__menu__close">
                    <b class="">{% trans 'Назад' %}</b>
                    <svg class="nav__right__close__svg" width="15" height="20" viewBox="0 0 57 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 5L51.9627 43.5673" stroke="#fff" stroke-width="12" stroke-linecap="round"/>
                        <path d="M5.67862 82.5039L51.6413 43.9367" stroke="#fff" stroke-width="12" stroke-linecap="round"/>
                    </svg>
                </div>
                <a href="{% url 'state-symbols' %}">{% trans 'Государственные символы' %}</a>
                <a href="/government-services">{% trans 'Государственные услуги' %}</a>
                <a href="/presidential-message">{% trans 'Послание Главы государства' %}</a>
                <a href="/anti-corruption">{% trans 'Противодействие коррупции' %}</a>
                <a href="/multilingualism-program">{% trans 'Программа полиязычия' %}</a>
            </div>  
        </div>
        <div class="nav__right__button__menu nav__link" >
            <a class="nav__right__menu__open">WorldSkills</a>
            <div class="nav__right__menu">
                <div class="nav__link nav__right__close nav__right__menu__close">
                    <b class="">{% trans 'Назад' %}</b>
                    <svg class="nav__right__close__svg" width="15" height="20" viewBox="0 0 57 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 5L51.9627 43.5673" stroke="#fff" stroke-width="12" stroke-linecap="round"/>
                        <path d="M5.67862 82.5039L51.6413 43.9367" stroke="#fff" stroke-width="12" stroke-linecap="round"/>
                    </svg>
                </div>
                <a href="/worldskills/rools">{% trans 'Правила' %}</a>
                <a href="/worldskills/documents">{% trans 'Документация' %}</a>
                <a href="/worldskills/news">{% trans 'Новости' %}</a>
            </div>  
        </div>
        <div class="nav__right__button__menu nav__link" >
            <a class="nav__right__menu__open">{% trans 'Воспитательная работа' %}</a>
            <div class="nav__right__menu">
                <div class="nav__link nav__right__close nav__right__menu__close">
                    <b class="">{% trans 'Назад' %}</b>
                    <svg class="nav__right__close__svg" width="15" height="20" viewBox="0 0 57 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 5L51.9627 43.5673" stroke="#fff" stroke-width="12" stroke-linecap="round"/>
                        <path d="M5.67862 82.5039L51.6413 43.9367" stroke="#fff" stroke-width="12" stroke-linecap="round"/>
                    </svg>
                </div>
                <a href="/general-information">{% trans 'Общая информация' %}</a>
                <a href="/sections">{% trans 'Кружки/Секции' %}</a>
                <a href="/psychological-service">{% trans 'Психологическая служба' %}</a>
                <a href="/groups">{% trans 'Кураторы' %}</a>
            </div>
        </div>
        <form action="{% url 'set_language' %}" method="post" id="LanguageForm">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language" id="changeLanguage" class='change__language' >
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                        {{ language.code }}
                    </option>
                {% endfor %}
            </select>
         </form>
    </div>
</nav>

<script>
    document.getElementById("changeLanguage").addEventListener("change", function() {
        document.getElementById("LanguageForm").submit();
      });
</script>