{% load static i18n %}

<nav>
    <div class="nav__left">
        <a href="/"><img src="/static/main/img/logo/logo.png" alt=""></a>
    </div>
    <span class="material-symbols-outlined nav__menu">
        sort
    </span>
    <div class="nav__right" style="left: -100%;">
        <div class="nav__link nav__right__close" id="nav_close">
            <b class="">{% trans 'Назад' %}</b>
            <span class="material-symbols-outlined">arrow_forward_ios</span>
        </div>
        <a href="{% url 'news_list' %}" class='nav__link'>{% trans 'Новости' %}</a>
        <div class="nav__right__button__menu nav__link" >
            <a class="nav__right__menu__open">{% trans 'О колледже' %}</a>
            <div class="nav__right__menu">

                <div class="nav__link nav__right__close nav__right__menu__close">
                    <b class="">{% trans 'Назад' %}</b>
                    <span class="material-symbols-outlined">arrow_forward_ios</span>
                </div>
                
                <a href="{% url 'college-history' %}">{% trans 'История колледжа' %}</a>
                <a href="{% url 'documents' %}">{% trans 'Документы' %}</a>
                <a href="{% url 'staff:staff'  %}">{% trans 'Структура' %}</a>
                <a href="/specs">{% trans 'Специальности' %}</a>
                <a href="/board-of-trustees">{% trans 'Попечительский совет' %}</a>
                <a href="/pedagogical-council">{% trans 'Педагогический совет' %}</a>
                <a href="/industrial-council">{% trans 'Индустриальный совет' %}</a>
            </div>
        </div>
        <div class="nav__right__button__menu nav__link" >
            <a class="nav__right__menu__open">{% trans 'Информация' %}</a>
            <div class="nav__right__menu">
                <div class="nav__link nav__right__close nav__right__menu__close">
                    <b class="">{% trans 'Назад' %}</b>
                    <span class="material-symbols-outlined">arrow_forward_ios</span>
                </div>
                <a href="{% url 'call_pair_schedule' %}">{% trans 'Студенту' %}</a>
                <a href="{% url 'abiturients' %}">{% trans 'Абитуриенту' %}</a>
                <a href="{% url 'call_pair_schedule_teachers' %}">{% trans 'Преподавателю' %}</a>
                <a href="/financial-statements">{% trans 'Финансовая отчетность' %}</a>
            </div>  
        </div>
        <div class="nav__right__button__menu nav__link" >
            <a class="nav__right__menu__open">{% trans 'Государство' %}</a>
            <div class="nav__right__menu">
                <div class="nav__link nav__right__close nav__right__menu__close">
                    <b class="">{% trans 'Назад' %}</b>
                    <span class="material-symbols-outlined">arrow_forward_ios</span>
                </div>
                <a href="{% url 'state_symbols' %}">{% trans 'Государственные символы' %}</a>
                <a href="/government-services">{% trans 'Государственные услуги' %}</a>
                <a href="/anti-corruption">{% trans 'Противодействие коррупции' %}</a>
                <a href="/multilingualism-program">{% trans 'Программа полиязычия' %}</a>
            </div>  
        </div>
        <div class="nav__right__button__menu nav__link" >
            <a class="nav__right__menu__open">WorldSkills</a>
            <div class="nav__right__menu">
                <div class="nav__link nav__right__close nav__right__menu__close">
                    <b class="">{% trans 'Назад' %}</b>
                    <span class="material-symbols-outlined">arrow_forward_ios</span>
                </div>
                <a href="/worldskills/rools">{% trans 'Правила' %}</a>
                <a href="/worldskills/documents">{% trans 'Документация' %}</a>
                <a href="/worldskills/news">{% trans 'Новости' %}</a>
            </div>  
        </div>
        <div class="nav__right__button__menu nav__link" >
            <a class="nav__right__menu__open">{% trans 'Воспитательная работа' %}</a>
            <div class="nav__right__menu">
                <div class="nav__link nav__right__close nav__right__menu__close">
                    <b class="">{% trans 'Назад' %}</b>
                    <span class="material-symbols-outlined">arrow_forward_ios</span>
                </div>
                <a href="/general-information">{% trans 'Общая информация' %}</a>
                <a href="/circles-sections">{% trans 'Кружки/Секции' %}</a>
                <a href="/psychological-service">{% trans 'Психологическая служба' %}</a>
                <a href="/class-teachers">{% trans 'Классные руководители' %}</a>
            </div>  
        </div>
        <form action="{% url 'set_language' %}" method="post" id="LanguageForm">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language" id="changeLanguage" class='change__language' >
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                            selected{% endif %}>
                        {% comment %} {{ language.name_local }}  {% endcomment %}
                        {{ language.code }}
                    </option>
                {% endfor %}
            </select>
            <!-- <button type="submit" class="btn">{% trans 'Translate' %}</button> -->
         </form>
    </div>
</nav>

<script>
    document.getElementById("changeLanguage").addEventListener("change", function() {
        document.getElementById("LanguageForm").submit();
      });
</script>