{% extends 'main/base.html' %}
{% load static %}

{% block title %} - Новости {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/news.css" />
<div class="page">
  <h1>Новости</h1>
  <div class="page__content">

    <!-- TODO _____ Filters _______ -->
    <form class="page__filters" method="GET">
      {% csrf_token %}
      <select name="filters" id="NewsSorting">
        <option selected disabled>Сортировать по</option>
        <option value="newest">Новые</option>
        <option value="oldest">Старые</option>
      </select>
      <div class="page__filters__calendar">
        <svg width="40" height="44" viewBox="0 0 100 110" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="5" y="15" width="90" height="90" rx="10" stroke="#202020" stroke-width="10"/>
          <rect x="23.75" y="51.75" width="7.5" height="7.5" rx="3.75" fill="#202020" stroke="#202020" stroke-width="7.5"/>
          <path d="M50.5 58C49.1193 58 48 56.8807 48 55.5C48 54.1193 49.1193 53 50.5 53C51.8807 53 53 54.1193 53 55.5C53 56.8807 51.8807 58 50.5 58Z" fill="#202020" stroke="#202020" stroke-width="10"/>
          <rect x="68.75" y="51.75" width="7.5" height="7.5" rx="3.75" fill="#202020" stroke="#202020" stroke-width="7.5"/>
          <rect x="23.75" y="76.75" width="7.5" height="7.5" rx="3.75" fill="#202020" stroke="#202020" stroke-width="7.5"/>
          <path d="M50.5 83C49.1193 83 48 81.8807 48 80.5C48 79.1193 49.1193 78 50.5 78C51.8807 78 53 79.1193 53 80.5C53 81.8807 51.8807 83 50.5 83Z" fill="#202020" stroke="#202020" stroke-width="10"/>
          <rect x="68.75" y="76.75" width="7.5" height="7.5" rx="3.75" fill="#202020" stroke="#202020" stroke-width="7.5"/>
          <rect x="20" width="15" height="20" rx="5" fill="#202020"/>
          <rect x="65" width="15" height="20" rx="5" fill="#202020"/>
          <line y1="33" x2="100" y2="33" stroke="#202020" stroke-width="10"/>
          </svg>                
      </div>
    </form>

    <!-- TODO ______ Pagination ______ -->
    <div class="pagination">
          <a href="{% if page.has_previous %}?page={{ page.previous_page_number }}{% endif %}" class="pagination__left">
            <svg width="20" height="20" viewBox="0 0 111 96" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M63.0704 5.76813L105.497 48.1945" stroke="#202020" stroke-width="10" stroke-linecap="round"/>
              <path d="M63 90.4264L105.426 48" stroke="#202020" stroke-width="10" stroke-linecap="round"/>
              <path d="M5 48L105 48" stroke="#202020" stroke-width="10" stroke-linecap="round"/>
            </svg>   
          </a>
          <!-- <a href="?page=1">&laquo; Первая</a> -->

      <span class="current">
          {% for i in page.paginator.page_range %}
            {% comment %} {% if page.number <= 3 and i <= 3 %}
                <a href="?page={{ i }}">{{ i }} Страница</a>
            {% elif page.number > page.paginator.num_pages - 3 and i > page.paginator.num_pages - 3 %}
                <a href="?page={{ i }}">{{ i }} Страница</a>
            {% elif i == page.number %} {% endcomment %}
              <a href="?page={{ i }}"
                {% if i == page.number %}style="background-color: rgb(248, 102, 36); color: white"{% endif %}
                >{{ i }} Страница</a>
            {% comment %} {% endif %} {% endcomment %}
        {% endfor %}
      </span>

      
      <!-- <a href="?page={{ page.paginator.num_pages }}">Последняя &raquo;</a> -->
      <a href="{% if page.has_next %}?page={{ page.next_page_number }}{% endif %}" class="pagination__right">
        <svg width="20" height="20" viewBox="0 0 111 96" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M63.0704 5.76813L105.497 48.1945" stroke="#202020" stroke-width="10" stroke-linecap="round"/>
          <path d="M63 90.4264L105.426 48" stroke="#202020" stroke-width="10" stroke-linecap="round"/>
          <path d="M5 48L105 48" stroke="#202020" stroke-width="10" stroke-linecap="round"/>
        </svg>  
      </a>
  
    </div>


    <!-- TODO ______ News ______ -->
    <div class="page__news">
      {% for news in page %}
      <div class="news">
        <div class="news__left">
          <div class="news__left__top">
            <span>{{ news.news_create_date|date:'d.m.Y H:i' }}</span>
            <a href="{% url 'show_one_news' news.slug %}">{{ news.news_title }}</a>
            <div>{{ news.news_content|truncatewords:10 | safe }}</div>
          </div>
          <div class="news__left__icons">
           <a href="{% url 'show_one_news' news.slug %}">
            <!-- <img src="/static/main/img/logo/left2.svg" alt="left"> -->
            <svg width="25" height="25" viewBox="0 0 111 96" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M63.0704 5.76813L105.497 48.1945" stroke="#f86624" stroke-width="10" stroke-linecap="round"/>
              <path d="M63 90.4264L105.426 48" stroke="#f86624" stroke-width="10" stroke-linecap="round"/>
              <path d="M5 48L105 48" stroke="#f86624" stroke-width="10" stroke-linecap="round"/>
              </svg>              
           </a>             
          </div>
        </div>
        <div class="news__right">
          <img src="/static/{{ news.news_img.url }}" alt="{{ news.news_title }}">
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.querySelector('#NewsSorting').addEventListener('change', () => {
    document.querySelector('.page__filters').submit()
  })
</script>
{% endblock %}