
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2vh 5vw 25vh;
}
.page__do {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    /* background-color: #eeeeee; */
    border: 2px solid rgb(20,20,20,.1);
    box-shadow: 3px 3px 10px rgb(20,20,20,.05);
    height: 11vh;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 4%;
    gap: 3%;
}

.page__do a {
    opacity: .9;
}
.page__do a:hover {
    opacity: 1;
}
.page__do a .microsoft {
    height: 4.3vh;
}
.page__do a .azure {
    height: 7vh;
}
.page__do a img {
    height: 5vh;
}

.page__header {
    display: flex;
    justify-content: start;
    align-items: center;

    width: 100%;
    gap: 10px;
}
.link {
    font-size: calc((1vw + 1vh) * 1);
    margin: 10px;
}
.link::after {
    display: block;
    content: '';
    width: 0;
    height: 3px;
    background-color: #f86624;
    border-radius: 10px;
    transition: all .3s linear;
}
.link:hover::after {
    width: 100%;
    opacity: 1;
}
.activate {
    color: #f86624;
    opacity: .8;
}
.activate:hover {
    opacity: 1;
}
.activate::after {
    width: 100%;
    opacity: .8;
}
.page__content {
    width: 100%;
}
.page__content h2 {
    font-weight: bold;
    margin-bottom: 5vh;
}

.page__content__events {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 3%;
    row-gap: 3%;
    padding-top: 3vh;

}
.page__content__events .event {
    width: 100%;
    max-width: 32%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    border: 6px double rgb(20,20,20,.15);
    border-radius: 20px;
    padding: 10px;
    transition: all .3s linear;
}
.page__content__events .event:hover {
    border-color: #f86624;
    scale: 1.05;
}
.event__top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.event__top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: -10%;
    border-top: 4px solid #f86624;
} 
.event__top__data {
    position: absolute;
    background-color: #f86624;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    font-size: calc((1vw + 1vh) *.8);
    max-width: 64%;
    top: 10%;
    right: -10% ;
}
.event__bottom a {
    font-weight: bold;
    color: rgb(20,20,20,.9);
}
.event__bottom a:hover {
    color: #f86624
}
.event__bottom {
    padding: 2% 0;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.event__bottom__link {
    font-size: calc((1vw + 1vh) *1.2);
}
.learn__more {
    margin-top: 10%;
    text-decoration: underline;
    text-decoration-color: #f86624;
    font-size: calc((1vw + 1vh) *.8);
}

/* documents */
.page__doc {
    width: 100%;
    height: 80vh;
    border-radius: 20px;
    margin-bottom: 3vh;
}
.download {
    display: block;
    background-color: #202020;
    color: #fff;
    width: 100%;
    border-radius: 10px;
    padding: 2vh 6vw;
    text-align: center;
}
.download:hover {   
    background-color: #fff;
    box-shadow: 0 0 10px 1px rgb(20,20,20,.3);
    color: #202020;
}

table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-collapse: collapse;
}
td {
    padding: 2vh 4vw;
    font-size: calc((1vw + 1vh) * 1);
}
.call__schedule__left .down {
    width: 100%;
}


/* call schedule */
.call__schedule {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row-reverse;
    width: 100%;
}
.call__schedule__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}
.call__schedule__left__menu {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.call__schedule__left__menu span {
    font-size: calc((1vw + 1vh) * 1);
}
.call__schedule__right {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
table {
    width: 100%;
}
.show__link {
    cursor: pointer;
}
.event__desc {
    width: 100%;
    display: grid;
    grid-template-columns: 38% 58%;
    gap: 4%;
}
.event__desc__right {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.event__desc__right img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 3%;
    box-shadow: 3px 3px 10px rgb(20,20,20,.2);
}
.event__desc__date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #202020;
    border-radius: 10px;
    color: #fff;
    padding: 3% 5%;
    font-size: calc((1vw + 1vh) * 1);
}
.event__desc__date div {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.event__desc__left {
    width: 100%;
    font-size: calc((1vw + 1vh) * 1);
    
}