{% include 'main/base.html' %} 

{% load static i18n %}

{% block content %}
<link rel="stylesheet" href="/static/main/css/index.css" />

<div class="page" id="page">

    {% comment %} ___ PAGE SLIDER ___ {% endcomment %}
   {% comment %} <div class="container">
    <div class="page__slider">
        <div class="page__slider__left">
            AҚПАРАТТЫҚ ТЕХНОЛОГИЯЛАР КОЛЛЕДЖІ
        </div>
        <div class="page__slider__center">
            COLLEGE OF INFORMATION TECHNOLOGIES
        </div>
        <div class="page__slider__right">
            <span></span>
            <img src="{% static 'main/img/slider/1.jpg' %}" alt="">
        </div>
    </div>
   </div> {% endcomment %}

   <!-- ! Intro  -->
   <div class="intro">
    <div class="slider-container">
        <div class="slider">
            <div class="slide" style="background-image: url('/static/main/img/intro/intro6.jpg'); "></div>
            <div class="slide" style="background-image: url('/static/main/img/intro/intro3.jpg');"></div>
            <div class="slide" style="background-image: url('/static/main/img/intro/intro1.jpg');"></div>
            <div class="slide" style="background-image: url('/static/main/img/intro/intro5.jpg');"></div>
        </div>
    </div>
    <div class="intro__info">
        <input type="hidden" value="{% trans '55 лет' %}" id="IntroID" />
        {% comment %} <span class="intro__info__55__years">{% trans "55 лет" %}</span> {% endcomment %}
        <div class="typing-container">
            <p id="typing-text"></p>
          </div>
        <span>{% trans 'Добро пожаловать в' %}</span>
        <h2>{% trans 'КОЛЛЕДЖ ИНФОРМАЦИОННЫХ ТЕХНОЛОГИЙ' %}</h2>
    </div>
    <div class="intro__menu"></div>
   </div>

   <!-- !  News -->
    <div class="container">
        {% if public__news_count  > 3 %}
        <div class="page__news">
            <div class="page__news__left">

                {%  if last_one_news %}
                <div class="news">
                    <img src="/static/media/{{ last_one_news.news_img }}" alt="">
                    <div class="news__content">
                        <span>{{ last_one_news.news_create_date|date:"F j" }}</span>
                        <a href="{% url 'show_one_news' last_one_news.slug %}">{{ last_one_news.news_title|slice:40 }}...</a>
                    </div>
                </div>
                {% endif %}

            </div>
            <div class="page__news__right">
                
                {% for news in last_news %}
                    <div class="news news__little">
                        <img src="/static/media/{{ news.news_img }}" alt="">
                        <div class="news__content">
                            <span>{{ news.news_create_date|date:"F j" }}</span>
                            <a href="{% url 'show_one_news' news.slug %}">{{ news.news_title|slice:35 }}...</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="news news__little read__news">
                    <div></div>
                    <div class="news__content">
                        <span></span>
                        <a href="{% url 'news_list' %}">{% trans 'Читать все новости ' %}</a>
                    </div>
                </div>
            </div>
        </div>  
        {% endif %}  
    </div>

   <!-- !  About -->

{% if slides.count > 0 %}
    <div class="page__about">
        {% for slide in slides %}
        <div class="page__about__slider" >
            <div class="page__about__left">
                <div class="page__about__left__header">
                    <h2>{{  slide.title }}</h2>
                </div>
                <div class="page__about__left__footer">
                    {% autoescape off %}
                        <p></p>
                    {% endautoescape %}
                    <a href="{% url 'slides' %}">
                        {% trans 'ПОСМОТРЕТЬ БОЛЬШЕ' %}
                        <svg width="41" height="22" viewBox="0 0 41 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30 19.1459L38 11.1459" stroke="#fff" stroke-width="5" stroke-linecap="round"/>
                            <path d="M30 3L38 11" stroke="#fff" stroke-width="5" stroke-linecap="round"/>
                            <path d="M2 10.5H37" stroke="#fff" stroke-width="4" stroke-linecap="round"/>
                        </svg>                            
                    </a>
                </div>
            </div>
            <div class="page__about__right">

                <div class="page__about__right__title">
<!--                    {{ slide.title }}-->
                </div>
                
                <div class="page__about__right__images">
                    {% for image in slide.collegesliderimagemodel_set.all %}
                       {% if image.public %}
                            {% if image.status_1 %}
                                <img src="/static{{ image.image.url }}" alt="image{{ image.id }}" class="img3" />
                            {% endif %}
                            {% if image.status_2 %}
                                <img src="/static{{ image.image.url }}" alt="image{{ image.id }}" class="img2" />
                            {% endif %}
                            {% if image.status_3 %}
                                <img src="/static{{ image.image.url }}" alt="image{{ image.id }}" class="img1" />
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
        {%  endfor %}

        <div class="page__about__right__next__prev">
            <svg class="prev" width="24" height="42" viewBox="0 0 24 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.6777 3L3 20.6777" stroke="white" stroke-width="5" stroke-linecap="round"/>
                <path d="M20.6777 38.6777L3 21" stroke="white" stroke-width="5" stroke-linecap="round"/>
            </svg>    
            <svg  class="nexti" width="24" height="42" viewBox="0 0 24 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.6777 3L3 20.6777" stroke="white" stroke-width="5" stroke-linecap="round"/>
                <path d="M20.6777 38.6777L3 21" stroke="white" stroke-width="5" stroke-linecap="round"/>
            </svg>                            
        </div>
    </div>

    {% endif %}
    
    {% if achivments.count > 0 %}
    <div class="container">

        <div class="pre__title">
            <h2 class="title">
                {% trans "Наши достижения" %}
            </h2>
        </div>

        <div class="page__parthers">
            {% for achivment in achivments %}
                <div class="parthner">
                    {% if  achivment.news_img %}
                    <img src="/static/{{ achivment.news_img.url }}" alt="{{ achivment.news_img }}">
                    {% endif %}
                    <a href="{% url 'show_one_news' achivment.slug %}">{{achivment.news_title|slice:50 }}...</a>
                    <a href="{% url 'show_one_news' achivment.slug %}">{% trans 'Читать' %}</a>
                </div>
            {% endfor %}
        </div>

        <a href="{% url 'news_list' %}" class="read__more">
            {% trans 'Смотреть все' %}
        </a>

    </div>
    {% endif %}

    {% if partners.count %}
    <div class="container">

        <div class="pre__title">
            <h2 class="title">
                {% trans 'Наши партнёры' %}
            </h2>
        </div>
        <div class="page__achievements">
             <svg class="page__archivements__left" width="20" height="36" viewBox="0 0 24 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.6777 3L3 20.6777" stroke="#202020" stroke-width="5" stroke-linecap="round"></path>
                <path d="M20.6777 38.6777L3 21" stroke="#202020" stroke-width="5" stroke-linecap="round"></path>
            </svg>
            <div class="page__archievements__collection">
                {% for partner in partners %}
                    <div class="page__achivement">
                        <img src="/static//media/{{ partner.partner_logo }}" alt="{{partner.partner_name}}">
                        <a href="{{partner.partner_url}}" target="_blank">{{partner.partner_name}}</a>
                    </div>                    
                {% endfor %}
            </div>
             <svg class="page__archivements__right" style="rotate: 180deg" width="20" height="36" viewBox="0 0 24 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.6777 3L3 20.6777" stroke="#202020" stroke-width="5" stroke-linecap="round"></path>
                <path d="M20.6777 38.6777L3 21" stroke="#202020" stroke-width="5" stroke-linecap="round"></path>
            </svg>
        </div>
        
    </div>
    {% endif %}

    {% if contacts.count %}
    <div class="container">
            <div class="page__contacts">
                {% if contacts %}
                <div class="page__contacts__left">
                    {% for item in contacts %}
                        <div class="page__contact">
                            <h3>{% trans 'Колледж информационных технологий' %}</h3>
                            <p><b>{% trans 'Адрес' %}:</b> {{item.addr}}</p>
                            <p><b>{% trans 'Приёмная' %}:</b> {{item.tel}}<br>
                            </p>
                            <p><b>E-mail:</b> {{item.e_mail}}<br>
                            </p>
                            <p><b>{% trans 'Приёмная комиссия' %}:</b> {{item.priem_com}}<br>
                            </p>
                            <p><b>Whatsapp:</b> {{item.wats}}<br>
                            </p>
                        </div>
                        {% endfor %}
                </div>
                <div class="page__contacts__right">
                    <iframe
                    src="https://maps.google.com/maps?output=embed&amp;q=%D0%9F%D0%B0%D0%B2%D0%BB%D0%BE%D0%B4%D0%B0%D1%80%2C%20%D1%83%D0%BB.%20%D0%9B%D0%B5%D1%80%D0%BC%D0%BE%D0%BD%D1%82%D0%BE%D0%B2%D0%B0%2093%2C%20%D0%BA%D0%BE%D0%BB%D0%BB%D0%B5%D0%B4%D0%B6%20%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D1%8B%D1%85%20%D1%82%D0%B5%D1%85%D0%BD%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D0%B9&amp;z=17&amp;t=k"
                    data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLWFkZHJlc3MlMjIlMkMlMjJhZGRyZXNzJTIyJTNBJTIyJUQwJTlGJUQwJUIwJUQwJUIyJUQwJUJCJUQwJUJFJUQwJUI0JUQwJUIwJUQxJTgwJTJDJTIwJUQxJTgzJUQwJUJCLiUyMCVEMCU5QiVEMCVCNSVEMSU4MCVEMCVCQyVEMCVCRSVEMCVCRCVEMSU4MiVEMCVCRSVEMCVCMiVEMCVCMCUyMDkzJTJDJTIwJUQwJUJBJUQwJUJFJUQwJUJCJUQwJUJCJUQwJUI1JUQwJUI0JUQwJUI2JTIwJUQwJUI4JUQwJUJEJUQxJTg0JUQwJUJFJUQxJTgwJUQwJUJDJUQwJUIwJUQxJTg2JUQwJUI4JUQwJUJFJUQwJUJEJUQwJUJEJUQxJThCJUQxJTg1JTIwJUQxJTgyJUQwJUI1JUQxJTg1JUQwJUJEJUQwJUJFJUQwJUJCJUQwJUJFJUQwJUIzJUQwJUI4JUQwJUI5JTIyJTJDJTIyem9vbSUyMiUzQTE3JTJDJTIydHlwZUlkJTIyJTNBJTIyc2F0ZWxsaXRlJTIyJTJDJTIybGFuZyUyMiUzQW51bGwlMkMlMjJhcGlLZXklMjIlM0FudWxsJTJDJTIybWFya2VycyUyMiUzQSU1QiU1RCU3RA=="></iframe>
                </div>
                {% endif %}
            </div>
    </div>
    {% endif %}

</div>

<script src="{% static 'main/js/intro-slider.js' %}"></script>
<script src="{% static 'main/js/parthners-slider.js' %}"></script>
<script src="{% static 'main/js/slider.js' %}"></script>
{% endblock content %}