{% include 'main/base.html' %} 

{% load static i18n %}

{% block content %}

<link rel="stylesheet" href="/static/main/css/information/student.css" />
{% if user_type == 'teacher' %}
<style>
.activate {
    font-weight: 800 !important;
    color: #202020 !important;
}
.activate::after {
    background-color: #202020 !important;
}
.activate:hover {
}
 .link:hover {
    color: #0a0a0a !important;
  }
  .link:hover:after {
    background-color: #0a0a0a !important;
  }
</style>
{% endif %}

<div class="page">
        
    <!-- Пред шапка, главные кнопки -->
    <div class="page__do">
        <a href="https://do.pbk.kz">
            <img src="/static/main/img/logo/moodle_logo_TM.svg" alt="moodle_logo_TM"/>
        </a>
        <a href="https://azure.microsoft.com/ru-ru/">
            <img src="/static/main/img/logo/azure.png" alt="moodle_logo_TM" class="azure" />
        </a>
        <a href="https://learn.microsoft.com/en-us/training/">
            <img src="/static/main/img/logo/microsoft.png" alt="moodle_logo_TM" class="microsoft" />
        </a>
    </div>

    <!-- Шапка -->
    <div class="page__header">
        <a {% if user_type == 'teacher' %}
                href="{% url 'call_pair_schedule_teachers' %}"
            {% else %}
                href="{% url 'call_pair_schedule' %}" 
            {% endif %} 
            class="link
            {% if type == 'Расписание пар и звонков' %} 
                activate
            {% endif %} 
            ">{% trans 'Расписание пар и звонков' %}</a>
        <a {% if user_type == 'teacher' %}
                href="{% url 'academic_process_schedule_teachers' %}"
            {% else %}
                href="{% url 'academic_process_schedule' %}"
            {% endif %} 
            class="link
            {% if type == 'График учебного процесса' %} 
                activate
            {% endif %}">{% trans 'График учебного процесса' %} </a>
        {% if user_type == 'student' %}
            <a href="{% url 'student_events'  %}" 
            class="link
            {% if type == 'События' %} 
                activate
            {% endif %}"
            >{%  trans 'События' %}</a>
        {% endif %}
        <a {% if user_type == 'teacher' %}
                href="{% url 'guidelines_teachers' %}" 
            {% else %}
                href="{% url 'guidelines_students' %}" 
            {% endif %} 
        class="link
        {% if type == 'Методические рекомендации' %} 
            activate
        {% endif %}"
        >{% trans 'Методические рекомендации' %}</a>
    </div>

    <!-- Контент -->
    <div class="page__content">
        <h2>
            {% if type == 'Расписание пар и звонков' %}
                {% trans 'Расписание пар и звонков' %}
            {% elif type == 'График учебного процесса' %}
                {% trans 'График учебного процесса' %}
            {% elif type ==  'События' %}
                {% trans 'События' %}
            {% elif type == 'Методические рекомендации' %}
                {% trans 'Методические рекомендации' %}
            {% endif %}
        </h2>
        

        {% if type == "События" %}
        
            <!-- События -->
            {% if user_type == 'student' %}
                <div class="page__content__events">
                    {% for event in events %}
                        <div class="event">
                            <div class="event__top">
                                <img src="/static/{{ event.image.url }}" alt="{{ event.title }}">
                                <span class="event__top__data">{{ event.start_date|date:"F j" }} - {{ event.end_date|date:"F j" }} </span>
                            </div>
                            <div class="event__bottom">
                                <a class="event__bottom__link" href="{% url 'student_event_one' event.id %}">{{ event.title }}</a>
                                <a class="learn__more" href="{% url 'student_event_one' event.id %}">{% trans 'Узнать Больше' %}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        {% elif type == "График учебного процесса" %}

        <!-- График учебного процесса -->
        <iframe 
            src="{{ docs.file.url }}" 
            class="page__doc"
        ></iframe>

        <a href="{{ docs.file.url }}" class='download' download>{% trans 'Скачать учебного процесса' %}</a>
        
        {% elif type == "Расписание пар и звонков"  %}
 
            <div class="call__schedule">
                <div class="call__schedule__left">
                    <div class="call__schedule__left__menu">
                        <a class="link show__link link activate">{% trans '1 курс' %}</a>
                        <a class="link show__link">{% trans '2 курс' %}</a>
                        <a class="link show__link">{% trans '3 курс' %}</a>
                        <a class="link show__link">{% trans '4 курс' %}</a>
                    </div>
                    <a href="{{ docs.course_1_schedule.url }}" class='download' download>{% trans 'Скачать расписание 1 курса' %}</a>
                    <a href="{{ docs.course_2_schedule.url }}" style="display: none;" class='download' download>{% trans 'Скачать расписание 2 курса' %}</a>
                    <a href="{{ docs.course_3_schedule.url }}" style="display: none;" class='download' download>{% trans 'Скачать расписание 3 курса' %}</a>
                    <a href="{{ docs.course_4_schedule.url }}" style="display: none;" class='download' download>{% trans 'Скачать расписание 4 курса' %}</a>
                </div>
                <div class="call__schedule__right">
                    <table border="1">
                        <tr><td>{% trans '1 пара' %}</td><td> {{ docs.call_schedule_1_pair }}</td></tr>
                        <tr style="{% if user_type == 'teacher' %}background-color: rgb(20,20,20,.1);{% else %}background-color: #f867241f;{% endif %}"><td>{% trans '2 пара' %}</td><td> {{ docs.call_schedule_2_pair }}</td></tr>
                        <tr><td>{% trans '3 пара' %}</td><td> {{ docs.call_schedule_3_pair }}</td></tr>
                        <tr style="{% if user_type == 'teacher' %}background-color: rgb(20,20,20,.1);{% else %}background-color: #f867241f;{% endif %}"><td>{% trans '4 пара' %}</td><td> {{ docs.call_schedule_4_pair }}</td></tr>
                        <tr><td>{% trans '5 пара' %}</td><td> {{ docs.call_schedule_5_pair }}</td></tr>
                        <tr style="{% if user_type == 'teacher' %}background-color: rgb(20,20,20,.1);{% else %}background-color: #f867241f;{% endif %}"><td>{% trans '6 пара' %}</td><td> {{ docs.call_schedule_6_pair }}</td></tr>
                        <tr><td>{% trans '7 пара' %}</td><td> {{ docs.call_schedule_7_pair }}</td></tr>
                      </table>
                </div>
            </div>

        {% elif type == 'Методические рекомендации' %}

        <!-- Методические рекомендации -->
        ...
        {% else  %}
            <div class="event__desc">
                <div class="event__desc__right">
                    <img src="/static/{{ event.image.url }}" alt="{{ event.image.name }}" />
                    <div class="event__desc__date">
                        <div>
                            <b>{% trans 'Дата Начала' %}:</b> <span>{{ event.start_date }}</span>
                        </div>
                        <div class="">
                            <b>{% trans 'Дата Конца' %}:</b> <span>{{ event.end_date }}</span>
                        </div>
                    </div>   
                </div>
                <div class="event__desc__left">
                    {% autoescape off %}
                        {{ event.description }}
                    {% endautoescape %}
                </div>
            </div>
        {% endif  %}
    </div>    
</div>

<script>
    const downloads = document.querySelectorAll('.download')
    const links = document.querySelectorAll('.show__link')

    for (let i = 0; i < downloads.length; i++) {
        links[i].addEventListener('click', () => {
            links.forEach(el => el.classList.remove('activate'))
            downloads.forEach(el => {
                el.style.display = 'none'
                el.style.opacity = 0
            })

            links[i].classList.add('activate')
            downloads[i].style.display = 'block'

            setTimeout(() => {
                downloads[i].style.opacity = 1
            }, 300)
        })
    }
</script>

{% endblock content %}