.page {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.page h1 {
    padding: 8vh 4vw;
    margin-bottom: 0;
}
.page__content {
    background-color: transparent;
    padding: 2% 5%  5%
}
/* Наши достижения achivments */
.page__parthers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 2%;
}
.parthner {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    width: 100%;
    margin: 2% 1%;
    padding:  20px;
    background-color: rgb(248, 102, 36, .1);
    transition: all .3s linear;
    border-radius: 10px;
    position: relative;
}
.parthner:hover {
    box-shadow: 3px 3px 5px rgb(0,0,0,.1);
}
.parthner img {
    width: 100%;
    height: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 4px;

}
.parthner a {
    margin-bottom: 10px;
    font-size: 22px;
    transition: all .3s linear;
    font-weight: bold;
    margin-top: 2%;
}
.parthner a:first-child {
       min-height: 180px;
       height: 100%
}
.parthner a:last-child {
    width: 100%;
    text-align: right;
    font-weight: 400;
    margin-top: 4%;

    font-size: 18px;
    /*position: absolute;
    right: 5%;
    bottom: 5%;*/
}
.parthner a:hover {
    color: #f86624;
}

.read__more {
    display: block;
    width: 100%;
    text-align: right;
    margin-bottom: 2%;
    margin-top: 2%;
}