.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
}
.page h1 {
    margin-bottom: 5%;
    font-weight: bold;
}
.page__content {
    width: 100%; 
    background-color: #f2f5f6;
    padding: 4% 10% 20%;
}
.page__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3%;
}
.page__filters select {
    width: 30%;
    padding: 1.5% 2% ;
    background-color: white;

    font-size: calc((1vw + 1vh) * .8);
    border: 1px solid rgb(20,20,20,.4);
    border-radius: 4px;
    transition: all .3s linear;
}
.page__filters select:hover {
    box-shadow: 0 0 10px 1px rgb(20,20,20,.1);
}
.page__filters__calendar span {
    font-size: calc((1vw + 1vh) * 1.8);
}

/* news */
.page__news {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
    row-gap: 4%;
    width: 100%;
    /* padding: 2% 0 10vh 0; */
    padding: 2% 0;
    padding-bottom: 10vh;
}
.news {
    width: 100%;
    /* height: 100%; */
    background-color: white;
    display: grid;
    grid-template-columns: 60% 40%;
    border-radius: 10px;
    transition: all .3s linear;
}
.news:hover {
    box-shadow: 0 0 20px 5px rgb(20,20,20,.1) ;
}
.news__left {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 6%;
    min-height: 60vh;
}
.news__left__top {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
}
.news__left__top a {
    font-size: calc((1vw + 1vh) * 1.2);
    font-weight: 700;
    text-transform:capitalize;
    margin-bottom: 10px;
}
.news__left__top div p {
    font-size: calc((1vw + 1vh) * .8);
    margin: 0;
    color: rgb(20,20,20,.7);
}
.news__left span {
    font-size: calc((1vw + 1vh) * .75);
    color: #909090;
    font-weight: 500;
}
.news__left__icons {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding-top: 10%;
}
.news__left__icons a svg {
    /* font-size: calc((1vw + 1vh) * 1); */
    color: rgb(248, 102, 36);
}
.news__right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.news__right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
}
.pagination {
    width: 100%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination__left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination__right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination__right span, .pagination__left span {
    font-weight: 300;
    font-size: calc((1vw + 1vh) * 1.4);
}
.pagination__left {
    rotate: 180deg;
}
.pagination .current {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    padding: 0 5%;
    gap: 4%;
}
.pagination .current a {
    font-size: calc((1vw + 1vh) * .7);
    color: rgb(20,20,20,.6);
    padding: 4px 16px;
    border-radius: 20px;
    font-weight: 400;
}
.current a:hover {
    background-color: #f86624 !important;
    color: #fff;
}
@media screen and (max-width:1000px) and (min-width:600px ) {
    .page__news {
        gap: 20px;
        row-gap: 20px;
    }
    .page__content {
        padding: 4vh 2vw 10vh;
    }
    .news__left__top a {
        font-size: calc((1vw + 1vh) * 1.1);
    }
}
@media screen and (max-width:1000px) {
    .news {
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: start;
    }
    .news__left {
        min-height: 20vh;
        position: relative;
    }
    .news__right {
        max-height: 200px;
        min-height: 200px;
    } 
    .news__right img {
        max-height: 200px;
        min-height: 200px;
        border-radius: 10px 10px 0 0;
    }
    .news__left__top div p {
        display: none;
    }
    .news__left__icons {
        position: absolute;
        bottom: 8%;
        left: 0;
        max-width: 92%;
        z-index: 1 ;
    }
}
@media screen and (max-width: 600px) {
    .page__filters {
        margin-bottom: 6%;
        margin-top: 6%;
    }
    .news {
        grid-template-columns: 70% 30%;
    }
    .pagination {
        margin-bottom: 8%;
        gap: 4px;
    }
    .news__left {
        min-height: 25vh;
    }
    .page__content {
        padding: 2% 4% 25vh;
    }
    .page__filters select {
        width: 50%;
        padding: 1.5% 2%;
        background-color: white;
        font-size: calc((1vw + 1vh) * 1.4);
        border: 1px solid rgb(20,20,20,.4);
        border-radius: 4px;
        transition: all .3s linear;
    }
    .page__filters__calendar {
        scale: .6;
    }
    .pagination .current {
        width: 100%;
        overflow-x: auto;
        justify-content: start;
        padding: 4px ;
    }
    .pagination .current::-webkit-scrollbar {
        height: 4px;
    }
    .pagination .current a {
        font-size: calc((1vw + 1vh) * 1.3);
        padding: 4px 8px;
        min-width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 30px;
    }
    .page__news {
        grid-template-columns:100%;
        overflow: hidden;
        row-gap: 0;
        gap: 1%;
        padding-bottom: 5vh;
    }
    .news__left {
        padding-right: 4%;
    }
    .news__left span {
        font-size: calc((1vw + 1vh) * 1.4);
    }
    .news__left__top a {
        font-size: calc((1vw + 1vh) * 1.7);
    }
    .news__left__top div p {
        font-size: calc((1vw + 1vh) * 1.4)
    }
}