.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5vh 6vw 25vh;

}
.page__item {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
}
.page__date {
    font-size: calc((1vw + 1vh) * 1);
    color: #909090;
    font-weight: 500;
}
.page__title {
    font-size: calc((1vw + 1vh) * 2);
    font-weight: 900;
    text-transform:capitalize;
    line-height: calc((1vw + 1vh) * 1.9);
}
.page__desk {
    display: grid;
    grid-template-columns: 1% 60% 25%;
    gap: 3%;
    
}
.page__desk__left {
    width: 100%;
}
.page__desc__left__text {
    margin-bottom: 10%;
}
.page__desc__left__text p {
    font-size: calc((1vw + 1vh) * 1.1);
}
.page__desk__right {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.page__desk__right img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 15px 1px rgb(20,20,20,.3);

}
.btn {
    padding: 3% 5%;
    background-color: #f86624;
    /* border-radius: 10px; */
    color: white;
    font-size: calc((1vw + 1vh) * 1.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
    border-radius: 4px;
}
.btn:hover {
    background-color: black !important;
    color: white !important;
}

@media screen and (max-width: 600px) {
    .page {
        padding: 5vh 6vw 30vh;
    }
    .page__title {
        font-size: calc((1vw + 1vh) * 2.6);
        line-height: calc((1vw + 1vh) * 2.4);
        margin-bottom: 5%;
    }
    .page__date {
        font-size: calc((1vw + 1vh) * 1.8);
    }
    .page__desk__left p {
        font-size: calc((1vw + 1vh) * 1.6);
    }
    .page__desk {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column-reverse;
        gap: 3%
    }
    .btn {
        max-width: 100%;
        width: 100%;
        font-size: calc((1vw + 1vh) * 1.6);
        padding: 15px;
    }
}