{% include 'main/base.html' %} 

{% load static i18n %}

{% block content %}
<link rel="stylesheet" href="/static/about_college/css/college_history.css" />
<link rel="stylesheet" href="/static/state/css/anti__coruption.css" />


<div class="page" id="page">
    <h1>{{ title }}</h1>

    {% if documents.count > 0 %}
        {% for document in documents %}
            {% if document.file %}
                <div class="anti__coruption">
                    <h2>{{ document.title }}</h2>
                    <a href="/static/media/{{ document.file }}" class='link' download>{% trans 'Скачать' %} <i class="fa-solid fa-download"></i></a>
                </div>
            {% endif  %}
        {% endfor %}
    {% else %}
        <img src="/static/eduactional_work/img/general_information/search.png" alt="General information search">
        {% comment %} <h2>Documents Not Found</h2> {% endcomment %}
    {% endif %}

</div>

{% endblock content %}