{% include 'main/base.html' %} 

{% load static i18n %}

{% block content %}
<link rel="stylesheet" href="/static/about_college/css/college_history.css" />

<div class="page" id="page">
    <h1>{% trans 'Документы'  %}</h1>

    {% if documents.college_license %}
        <h2 class="page__doc__header">{% trans 'Лицензия' %}</h2>

        <iframe 
            src="/static/media/{{ documents.college_license }}" 
            class="page__doc"
        ></iframe>

        <a href="{{ documents.college_license.url }}" class='link' download>{% trans 'Скачать лицензию' %}</a>
    {% endif  %}

    {% if documents.college_reg %}
        <h2 class="page__doc__header">{% trans 'Устав' %}</h2>

        <iframe 
            src="/static/media/{{ documents.college_reg }}" 
            class="page__doc"
        ></iframe>

        <a href="{{ documents.college_reg.url }}" class='link' download>{% trans 'Скачать устав' %}</a>
    {% endif %}

    {% if documents.accreditation %}
        <h2 class="page__doc__header">{% trans 'Аккредитация' %}</h2>

        <iframe
            src="/static/media/{{ documents.accreditation }}"
            class="page__doc"
        ></iframe>

        <a href="{{ documents.accreditation.url }}" class='link' download>{% trans 'Скачать аккредитацию' %}</a>
    {% endif  %}

    </div>

{% endblock content %}