{% include 'main/base.html' %} 

{% load static i18n %}

{% block content %}
<link rel="stylesheet" href="/static/about_college/css/college_history.css" />

<div class="page" id="page">
    <h1>{% trans 'История Колледжа' %}</h1>

    {% if histories.count > 0 %}
       {% autoescape off %}
        <div class="page__histories">
            <div class="page__histories__line">
                <span class="page__histories__circle"></span>
                <span class="draw"></span>
            </div>
            <div class="histories">
                {% for history in histories %}
                    <div class="history">
                        <h3 class="history__data">{{ history.year|date:"d.m.Y" }}</h3>
                        <div class="history__content">{{ history.info }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
       {% endautoescape %}
    {% endif %}

    <div class="page__histories__text">
        {% if text %}
            {% if text.our_mission %}
                <div class = "page__histories__mission">
                    {% autoescape off %}
                        {{ text.our_mission }}
                    {% endautoescape %}
                    <div>
                        <h3>{% trans 'Наша миссия' %}</h3>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="page__histories__text">
        {% if text %}
            {% if text.text %}
<!--                <h1>{% trans 'Информация' %}</h1>-->
                {% autoescape off %}
                    {{ text.text }}
                {% endautoescape %}
            {% endif %}
        {% endif %}
    </div>
</div>

<script src="/static/main/js/about/college_history.js"></script>

{% endblock content %}