{% load static i18n %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'Колледж информационных технологий' %}{% block title %}{% endblock %}</title>
    {% comment %} <link rel="stylesheet" href="{% static 'main/css/styles.css' %}" media="screen"> {% endcomment %}
    {% comment %} <script class="u-script" type="text/javascript" src="{% static 'main/js/jquery.js' %}" defer=""></script> {% endcomment %}
    {% comment %} <script class="u-script" type="text/javascript" src="{% static 'main/js/nicepage.js' %}" defer=""></script> {% endcomment %}


    <link rel="stylesheet" href="{% static 'main/css/main.css' %}" media="screen" />
    <link rel="shortcut icon" href="/static/main/img/logo/favicon.ico" type="image/x-icon">
  
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>

    <script type="application/ld+json">{
          "@context": "http://schema.org",
          "@type": "Organization",
          "name": "new-kit",
          "logo": "images/logo.png",
          "sameAs": [
                  "https://facebook.com/name",
                  "https://www.instagram.com/name"
          ]
  }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="home">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body 
  class="u-body u-xxl-mode" 
  data-lang="ru"
  {% if theme_gray.is_gray_theme %} 
    style="filter: grayscale(100%);"
  {% endif %}
  >

    {% if messages %}
    <div class="global__messages">
        {% for message in messages %}
            <div class='global__message'>
                {{message}}
                <span class="global__message__close">
                    
                </span>
            </div>
        {% endfor %}
    </div>
  {% endif %}

  <script>
    const messages = document.querySelectorAll('.global__message')
    const closes = document.querySelectorAll('.global__message__close')

    const opacityDisplayNone = (message) => {
        message.style.opacity = 0

        setTimeout(() => {
            message.style.display = 'none'
        }, 300)
    }

    for (let i = 0; i < messages.length; i++) {
        closes[i].addEventListener('click', () => {
            opacityDisplayNone(messages[i])
        })

        setTimeout(() => {
            opacityDisplayNone(messages[i])
        }, 10000 + 2000 * i )
    }
  </script>

    <div class="bg">
      <!-- <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span> -->
    </div>

    <div class="loader">
      <span></span>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        document.body.style.overflowY = 'hidden'
        const loader = document.querySelector('.loader');
        const page = document.querySelector('.page');

        setTimeout(() => {
          loader.style.opacity = 0

          setTimeout(() => {
            loader.style.display = 'none';
            loader.style.zIndex = 0;
            document.body.style.overflowY = 'auto'
          }, 300)
        }, 3000);
      })
    </script>

    {% include 'main/include/pre_header.html' %}
    {% include 'main/include/header.html' %}

    {% block content %}{% endblock %}

    {% include 'main/include/footer.html' %}
    
    <script src="{% static 'main/js/nav.js' %}" ></script>
    <script src="{% static 'main/js/footer_up.js' %}" ></script>
    <script src="https://kit.fontawesome.com/0b77448ae5.js" crossorigin="anonymous"></script>
</body>
</html>