{% include 'main/base.html' %} 

{% load static i18n %}

{% block content %}
<link rel="stylesheet" href="/static/main/css/information/student.css" />
<link rel="stylesheet" href="/static/worldskills/css/competents.css" />

<div class="page">
    <h1>{% trans 'Документация' %}</h1>

    <div class="page__competentions">
        <div class="page__competentions__left">
            <!-- <div class="page__competentions__left__title">
                <h2>{% trans 'Компетенции' %}</h2>
            </div> -->
            {% for competent in categories %}
                <div class="page__competentions__left__item">
                    <a class="link competent" id="{{competent.id}}">{{ competent.title }}</a>
                </div>
            {% endfor  %}
        </div>
        <div class="page__competentions__right">
            {% for category in categories %}
                {% for document in documents %}
                    {% if document.competention == category %}
                        <a 
                            class="methodic__category_document" 
                            href="{{ document.file1.url }}" 
                            title="{{ document.title }}"
                            id="{{ document.competention.id }}"
                            style="display:none"
                            download
                        >
                            <div class="methodic__category_document__image">
                                <img src="/static/main/img/logo/download.svg" alt="download">
                                <img src="/static/main/img/logo/download__orange.svg" class="download__orange" alt="download">
                            </div>
                            <span class="methodic__category_document__span__full">{{ document.title|slice:16 }}...</span>
                            <span class="methodic__category_document__span__mini">{{ document.title|slice:12 }}...</span>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <script>
                const metodic__categorys = document.querySelectorAll('.competent')
                const metodic__category_documents = document.querySelectorAll('.methodic__category_document')

                metodic__categorys[0].classList.add('metodic__active')
                metodic__category_documents.forEach(document => {
                    if (document.id == 1) {
                        document.style.display = 'flex'

                        setTimeout(() => {
                            document.style.opacity = 1
                        }, 300)
                    }
                })

                metodic__categorys.forEach(category => {
                    category.addEventListener('click', () => {
                        metodic__category_documents.forEach(document => {
                            document.style.display = 'none'
                        })

                        metodic__categorys.forEach(c => { c.classList.remove('metodic__active') })

                        category.classList.add('metodic__active')

                        metodic__category_documents.forEach(document => {
                            if (document.id == category.id) {
                                document.style.display = 'flex'

                                setTimeout(() => {
                                    document.style.opacity = 1
                                }, 300)
                            } else {
                                setTimeout(() => {
                                    document.style.opacity = 0
                                }, 300)
                                document.style.display = 'none'
                            }
                        })
                    })
                })
        </script>
    </div>
</div>

{% endblock content %}