{% include 'main/base.html' %} 

{% load static i18n %}

{% block content %}
<link rel="stylesheet" href="/static/about_college/css/college_history.css" />
<link rel="stylesheet" href="/static/worldskills/css/rules.css" />

<div class="page" id="page">
    <h1>{% trans 'Правила WorldSkills Казахстан' %}</h1>

    {% if rules.file1 %}
        <div class="rule">
            <iframe 
                src="/static/media/{{ rules.file1 }}" 
                class="page__doc"
            ></iframe>

            <a href="/static/media/{{ rules.file1 }}" class='link' download>{% trans 'Скачать' %}</a>
        </div>
    {% endif  %}

    {% if rules.file2 %}
        <div class="rule">
            <iframe 
                src="/static/media/{{ rules.file2 }}" 
                class="page__doc"
            ></iframe>

            <a href="/static/media/{{ rules.file2 }}" class='link' download>{% trans 'Скачать' %}</a>
        </div>
    {% endif %}

    {% if rules.file3 %}
        <div class="rule">
            <iframe 
                src="/static/media/{{ rules.file3 }}" 
                class="page__doc"
            ></iframe>
        
            <a href="/static/media/{{ rules.file3 }}" class='link' download>{% trans 'Скачать' %}</a>
        </div>
    {% endif %}
</div>

{% endblock content %}