@import '/static/main/css/variables.css';

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 5vh 20vh;
}
.page h1 {
    width: 100%;
    padding: 8vh 0;
    text-align: center;
    /* max-width: 70vw; */
}
.page__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-between; */
    align-items: start;
    width: 100%;
    height: 100%;
}
.page__item {
    border: 1px solid rgb(20,20,20,.1);
    padding: 10px 3%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 15px;
}
.page__item img {
    height: 150px
}
.page__item:first-child {
    border-radius: 10px 0 0 10px ;
}
.page__item:last-child {
    border-radius:0 10px 10px 0;
}
.page__item h3 {
    font-size: calc((1vw + 1vh) * 1.3);
    text-align: center;
}
.page__item p {
    font-size: rgb(254,254,254,.7);
    font-size: calc((1vw + 1vh) * .9);
}

/* presidential messages */
.presidential__messages {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    width: 100%;
    max-width: 75vw;
}
.presidential__message {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 16px;
    border-bottom: 2px solid rgb(20,20,20,.3);
}
.presidential__message img {
    width: 100%;
    border-radius: 6px;
}
.presidential__message div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    height: 100%;
}
.presidential__message a {
    font-size: calc((1vh + 1vw) * 1);
    font-weight: 900;
    margin-bottom: 10px;
    color: #333333;
}
.presidential__message a:hover {
    color: var(--orange)
}
.presidential__message span {
    font-size: calc((1vh + 1vw) * .75);
    color: rgb(20,20,20,.6 );
    font-weight: 400;
    margin: 6px 0;
}
.page__presidential__message {
    width: 100%;
    max-width: 75vw;
    font-size: calc((1vh + 1vw) * 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page__presidential__message h2 {
    text-align: center
}
.page__presidential__message img {
    object-fit: cover;
    border-radius: 12px;
    width: 50%;
    margin: 3vh;
}

@media screen and (max-width:600px) {
    .page {
        padding: 1vh 3vw;
        padding-bottom: 30vh;
    }
    .page h1 {
        font-size: calc((1vw + 1vh) * 2.2);
    }
    .page__presidential__message img {
        width: 100%
    }
    .page h2 {
        font-size: calc((1vw + 1vh) * 2.4);
    }
    .page__items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .page__item {
        width: 100%;
        border-radius: 10px;
        border: none;
    }
    .page__item p {
        font-size: calc((1vw + 1vh) * 1.6);
    }
    .page__item h3 {
        font-weight: 600;
        width: 100%;
        text-align: center;
        
        font-size: calc((1vw + 1vh) * 2);
    }
    /* presidential message */
    .presidential__messages {
        grid-template-columns: 1fr;
        justify-content: center;
        max-width: 100%;
    }
    .presidential__message a {
        font-size: calc((1vw + 1vh) * 1.4);
    }
    .presidential__message span {
        font-size: calc((1vw + 1vh) * 1.2);
    }
    .page__presidential__message {
        max-width: 100vw;
        font-size: calc((1vh + 1vw) * 1.4);
    }
}

