.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10vw;
    padding-bottom: 20vh;
}
.page h1 {
    padding: 8vh 0 ;
}
.page__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 12px;
    row-gap: 12px;
    margin-top: 2%;
    max-width: 75vw;
}
.page__image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 100%;
    transition: all 0.3s ease-in-out;
    max-height: 300px;
    height: 100%;
    border-radius: 6px;
    position: relative;
}
.page__image h3 {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.page__image:hover {
    box-shadow: 0 0 15px 1px rgba(20,20,20, 0.2);
    cursor: crosshair;
}
.page__image:hover img {
    opacity: .2;
}
.page__image img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
    transition: all .6s ease-in-out;
    border-radius: 6px;
}
.page__image:hover h3 {
    opacity: 1;
}

.page__window {

}

@media screen and (max-width: 600px) {
    .page {
        padding: 0 4vw;
        padding-bottom: 10vh;
    }
    .page__images {
        grid-template-columns: 1fr;
        max-width: 100%;
        padding-bottom: 10vh;
    }
}