{% include 'main/base.html' %} 

{% load static i18n %}

{% block content %}
<link rel="stylesheet" href="/static/staff/css/about/staff.css" />

<div class="page" id="page">
    <h1>{% trans 'Структура' %}</h1>

    <div class="page__structures">

        {% for cmc in cmcs %}
            {% if cmc.personmodel_set.count > 0 %}
                <div class="page__structure">
                    <div class="structure__type">
                        <h4>{{ cmc.title }}</h4>
                    </div>
                    <div class="structure__people">
                        {% for director in cmc.personmodel_set.all %}
                            <div class="structure">
                                {% if director.foto %}
                                    <img src="/static/{{ director.foto.url }}" alt="{{ director.fio }}">
                                {% endif %}
                                <div class="structure__desc">
                                    <a href="{% url 'staff:staff_one' director.slug %}">{{ director.fio }}</a>
                                    <p>{% if  director.position %} {{ director.position }}{% endif %}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif  %}
        {% endfor %}
        

</div>

{% endblock content %}