{% include 'main/base.html' %} 

{% load static i18n %}

{% block content %}
<link rel="stylesheet" href="/static/main/css/about/college_history.css" />
<link rel="stylesheet" href="/static/state/css/anti__coruption.css" />


<div class="page">
    <h1>Противодействие коррупции</h1>
    {% if last_file.file1 %}
        <div class="anti__coruption">
            <h2>{{ last_file.title1 }}</h2>
            <!-- <iframe 
                src="/static/media/{{ last_file.file1 }}" 
                class="page__doc"
            ></iframe> -->

            <a href="/static/media/{{ last_file.file1 }}" class='link' download>{% trans 'Скачать' %} <i class="fa-solid fa-download"></i></a>
        </div>
    {% endif  %}

    {% if last_file.file2 %}
        <div class="anti__coruption">
            <h2>{{ last_file.title2 }}</h2>
            <!-- <iframe 
                src="/static/media/{{ last_file.file2 }}" 
                class="page__doc"
            ></iframe> -->

            <a href="/static/media/{{ last_file.file2 }}" class='link' download>{% trans 'Скачать' %} <i class="fa-solid fa-download"></i></a>
        </div>
    {% endif %}

    {% if last_file.file3 %}
        <h2>{{ last_file.title3 }}</h2>
        <div class="rule">
            <!-- <iframe 
                src="/static/media/{{ last_file.file3 }}" 
                class="page__doc"
            ></iframe>
         -->
            <a href="/static/media/{{ last_file.file3 }}" class='link' download>{% trans 'Скачать' %} <i class="fa-solid fa-download"></i></a>
        </div>
    {% endif %}
</div>

{% endblock content %}