.video-block video{
    width: 50vw;
    height: 40vh;
}

@media screen and (max-width: 600px){
    .video-block video{
        width: 100% ;
        height: 40vh;
    }
    
}

@media screen and (max-width: 768px){
    .video-block video{
        width: 100% ;
        height: 40vh;
    }
    
}